extends layout/basic.pug

append css
  link(href="/css/main.css", rel="stylesheet")
append scripts
  script(src="/lib/socket.io.js")
  script(src="/js/crane.js")
  script(src="/js/inStorage.js")
block content
  //- #zhdOriginPlaceFilterPop.zhd-carno(style="display:none; width: 320px")
  //-   .zhd-carno-filter.up-arrow(style="flex: 0 0 320px;")
  //-     div 请选择该物资的原产地
  //-     .list.middle
  #zhdCarNoFilterPop.zhd-carno(style="display:none; width: 225px")
    .zhd-carno-filter.up-arrow(style="flex: 0 0 225px;")
      div 提单对应车牌号
      .sub-title (如车牌错误，请手动输入)
      .list
  //- #zhdCarNo.zhd-carno.flex(style="display: none")
    .zhd-carno-filter
      div 筛选记录
      .sub-title (如果搜索不到请到右侧自行添加)
      .list(style="max-height: 368px")
    .zhd-carno-add.up-arrow
      .row
        .flex.align-center
          input#keyboardCarType.center(style="width: 56px; height: 30px;font-size: 20px; margin-right: 2px", readOnly, placeholder="省")
          input#keyboardCarNo(style="width: 120px; height: 30px; font-size: 20px;padding-left: 5px", readOnly, placeholder="车牌号")
        .col(style="padding-left: 8%")
          .row
            #kbAdd.add-btn 添加
            #kbReset.add-btn 重置
            #kbClose.add-btn 关闭
      .zhd-carno-keyboard.mt-15
        #carTypeKey.mt-10.row.row-wrap.content
        #fullCarKey.mt-10.row.row-wrap.content(style="display: none;")
  script(id="zhdModal", type="text/template")
    .zhd-modal(id="${modalId}")
      .bg
      .content
        .title ${modalTitle}
        .modal-btn.confirm 确定
        .modal-btn.cancel 取消
  script(id="weightBtns", type="text/template")
    .row.top-section.relative(style="bottom: -50px")
      <% _.each(btns, function(itm, index){ %>
        .col.relative
          .weight-btn-top-part.relative
          .weight-btn.relative(data-index="${index}")
            div(style="position: absolute; left: -35px; top: 68px; font-size: 26px;") A${index + 1}
            span 0
          //- image(style="position: absolute; bottom: -126px; left: -40px; z-index: 10;display: none;", src="/img/taph.png")
      <%});%>
  script(id="tbodyPart", type="text/template")
    <% _.each(data, function(itm, idx){%>
      .tr.row.center(data-rowindex="${idx}")
        <%_.each(keys, function(key, subi) {%>
          <% if (subi == 0) {%>
            .td(data-idx="${idx}") ${itm[key]}
          <% } else if (key == "toleranceRange") {%>
            .td
              div 公差：${itm.toleranceRange}
              div 重量：${itm.weightRange}
          <% } else if (key == "other") {%>
            .td
              div 车牌：${itm.carNo}
          <% } else {%>
            .td ${itm[key]}
          <% } %>
        <%})%>
        .td
    <%})%>
  
  .main-head.row
    image(src="/img/bgys.png", style="height: 160px; position: absolute; top: 0px; left: 0px;")
    .main-brand= pageBrand
    //- div(style="flex-basis: 86px") 车号
    //- #carnoIptWrap.arrow-container.relative(style="flex-basis: 225px")
      .main-ipt.row
        input#tdCarNo.center(readOnly)
    //- #manSelect.row(style="flex-basis: 128px")
      .main-btn
        span 手动输入
    //- .center(style="flex-basis: 140px") 原产地
    //- #originAreaWrap.arrow-container.relative.row(style="flex-basis: 225px")
      .main-ipt.row
        input#originAreaIpt.center(readOnly)
    .flex.justify-center(style="flex-basis: 70px") TD
    .row(style="flex-basis: 225px")
      .main-ipt.row
        input#tdNo
    .row(style="flex-basis: 128px")
      #topAddBtn.main-btn
        span 添加
    .row(style="flex-basis: 132px")
      #topClearBtn.main-btn
        span 清空
    .main-close
  .main-body
    .col.relative
      .table-wrap
      .table
        .th.row.center
          .grid 提单号
          .grid 品名
          .grid 规格
          .grid 长度
          .grid 产地
          .grid 材质
          .grid 可出库数量
          .grid 范围
          .grid 其他
          .grid 设备
        #wzBody.relative
          .active-rect
    div(style="flex: 0 0 430px;")
      .top-section.employ-bar
        .float-title.pt-15 操作人编号
        #topEmployee
      .row.top-section.relative(style="bottom: -30px")
        span.float-title 数量
        .col
          .count-btn
            #countMinus.col
            .col.column
              .col.row
                input#countIpt.center
            #countAdd.col
        .col.center.relative
          span.float-title 重量（吨）
          #weightInfoWrap.weight.relative
            span#weightWrapAdd(style="position: absolute; top: -5px; right: -65px; font-size: 58px; color: #fff;z-index: 30;") +
            span#weightInfo
      #secBtns.row
